@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
  color: #666;
  font-size: 20px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: rgb(43, 43, 43);
  color: #fff;
}
