@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #666;
  font-size: 20px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

h2 {
  letter-spacing: 5px;
  font-size: 2em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.lighter {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.darker {
  background-color: #f4f4f4;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  margin: 70px auto 70px auto;
  padding: 0 10%;
  max-width: 1800px;
  text-align: center;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/me2.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 700px;

  position: relative;
}

.circle {
  opacity: 0;
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 0;
  height: auto;
  width: auto;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.circle p {
  color: white;
  font-weight: 400;
  word-wrap: break-word;
}

.hover-nav:hover .circle {
  opacity: 1;
  background-color: #e67e22;
  border-radius: 25px;
  cursor: pointer;
}

.my-name {
  text-align: left;
  font-size: 5em;
  font-style: italic;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  padding-left: 8%;
  text-transform: uppercase;
  line-height: 150%;
  position: absolute;
}

.main-nav {
  margin: 20px auto 10px 10%;
  padding-right: 5%;
  text-decoration: none;
  display: flex;

  flex-wrap: wrap;
}

.main-nav ul {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.main-nav ul li {
  padding-top: 15px;
}

.hamburger {
  height: 80px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: none;
}

.hamburger:focus {
  outline: none;
}

.nav-el {
  color: rgb(187, 187, 187);
  padding: 5px 15px 5px 15px;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
  word-wrap: break-word;
}

.nav-el:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: #e67e22;
  border-radius: 10px;
}

.main-nav.fixed {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  margin: 0 auto;
}

.main.nav.fixed ul {
  display: flex;
}

.paragraph {
  text-indent: 50px;
  letter-spacing: 2px;
  text-align: justify;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 60px;
  line-height: 2;
}

.second-paragraph {
  margin-top: 50px;
}

.my-projects {
  display: flex;
  padding-top: 50px;
  justify-content: space-around;
}

.my-projects li {
  padding: 50px;
}
.my-projects li a {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
/*

.btn {
  background-color: #e67e22;
  color: white;
  padding: 30px;
  border-radius: 35px;
  font-weight: bold;
  font-size: 1.5em;
  transition: background-color 0.5s;
  word-wrap: break-word;
}
*/

.btn-800px {
  background-color: #e67e22;

  padding: 30px;
  border-radius: 35px;
  font-weight: bold;
  font-size: 1.5em;
  transition: background-color 0.5s;
  word-wrap: break-word;
}

.btn-800px:hover {
  background-color: #d35400;
  cursor: pointer;
}

.footer {
  background-color: #333;
  color: #888;
  padding: 40px;
}

.footer-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-list li {
  margin: 0 10px 20px 10px;
}

.name-copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name-copyright div {
  padding: 5px 0;
  margin-top: 10px;
  text-align: center;
}

.btn-footer {
  transition: color 0.3s ease-in-out;
}

.btn-footer:hover {
  color: rgba(255, 255, 255, 0.6);
}

.logo-footer {
  font-size: 2em;
  transition: color 0.3s ease-in-out;
}

.logo-footer-svg {
  width: 2em;
  height: auto;
}

.instagram:hover {
  color: #c32aa3;
}
.linkedin:hover {
  color: #0a66c2;
}
.facebook:hover {
  color: #1877f2;
}
.codepen:hover {
  color: white;
}
.github:hover {
  color: #fafafa;
}

@media screen and (max-width: 1350px) {
  .my-projects {
    flex-direction: column;
  }

  .my-projects li {
    margin-top: 30px;
  }

  .main-header {
    background-image: url(../img/me.jpg);

    background-size: cover;
  }
}

@media screen and (max-width: 800px) {
  .paragraph {
    font-size: 1.1em;
    letter-spacing: none;
    line-height: 1.5;
  }
  .container {
    padding: 0 5%;
  }
  .my-name {
    font-size: 3em;
    padding-left: 5%;
  }

  .main-header {
    background-image: url(../img/me3.jpg);
  }

  .footer-list {
    flex-direction: column;
    align-items: center;
  }

  .footer-list li {
    margin: 25px 0;
  }

  .logo-footer {
    font-size: 3em;
  }

  .logo-footer-svg {
    width: 3em;
    height: auto;
  }
  .hamburger {
    display: block;

    color: rgb(187, 187, 187);
  }

  .hamburger-icon {
    font-size: 2em;
    color: rgb(208, 208, 208);
  }

  .hamburger:hover {
    color: white;
  }

  .main-nav.fixed {
    background-color: transparent;
    padding-left: 20px;
  }
  .main-nav ul {
    display: none;
    flex-direction: column;
    margin-top: 100px;
  }

  .main-nav ul.show {
    display: flex;

     }

  .main-nav.fixed ul.show {
    background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 750px) {
  .nav-el {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 550px) {
  .btn {
    font-size: 1.2em;
    padding: 25px;
  }
}
